<div id="all">
<p id="notice"><%= notice %></p>

<h1>Listing Classrooms</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Curso</th>
      <th>Entry</th>
      <th colspan="3">Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.student.name %></td>
        <td><%= classroom.curso.name %></td>
        <td><%= classroom.entry %></td>
        <td><%= link_to 'Show', classroom %></td>
        <td><%= link_to 'Edit', edit_classroom_path(classroom) %></td>
        <td><%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="new-student">
    <%= link_to 'New Classroom', new_classroom_path %>
</div>
</div>
